.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dim background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Places modal on top of everything */
}

.modal {
    background-color: #353333;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    z-index: 1100; /* Ensure the modal is above the overlay */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-content label {
    padding: 15px;
    font-size: 1.5rem;
}

.coin-input {
    border: 1px solid #fff;
    border-radius: 4px;
    height: 25px;
}
