*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Pushes it from behind sidebar */
.App {
    margin-left: 100px;
    background-color: #282829;
}